extends layout

block styles
    style= ".message {backgroud: transparent;}"

block content
  section(class="hero is-fullheight-with-navbar" style="background:url(https://source.unsplash.com/1920x1080/?market) no-repeat center;")
    div(class="hero-head")
      nav(class="navbar")
          div(class="navbar-menu")
            div(class="navbar-end")
              div(class="navbar-item")
                div(class="buttons")
                  a(href="login" class="button nes-btn is-primary") Login
                  a(href="register" class="button nes-btn is-success") Register 
    div(class="hero-body")
      div(class="container")
        section(class="message-list")
          section(class="message -left")
            i(class="nes-bcrikko")
            dev(class="nes-balloon from-left")
              p= "Welcome to Pokupaika!"
          section(class="message -right")
            dev(class="nes-balloon from-right")
              p= "It's the best service for making zakupkas!"       
            i(class="nes-bcrikko")