doctype html
html
  head
    title Pokupaika
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block imports
      link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Press+Start+2P&amp;subset=cyrillic")
      link(rel="stylesheet", href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css")
      link(rel="stylesheet", href="https://unpkg.com/nes.css@latest/css/nes.min.css")
      style = "font-family: 'Press Start 2P', cursive;"
    block styles
  body
    block content