extends layout

block content
  main.measure.center
    p Name:
    p= zakupka.name
    p Description:
    p= zakupka.description
    p Price:
    p= zakupka.price
    p Access level:
    p= zakupka.accessLevel