{% extends "base.html" %}
{% block content %}
<section class="py-5" style="background-color: #e9ecef;">
    <div class="container text-center">
        <h1 class="jumbotron-heading">Хранилище флагов</h1>
        <p class="lead text-muted">Нам доверяют самое ценное</p>
        <table class="table table-striped table-fixed" style="word-break: break-all;">
            <thead>
            <tr>
                <th scope="col" width="80">#</th>
                <th scope="col" width="160">Владелец</th>
                <th scope="col" width="80">Метод</th>
                <th scope="col">Открытый ключ</th>
                <th scope="col" width="300">Закрытый ключ</th>
            </tr>
            </thead>
            <tbody>
            {% for item in flags %}
            <tr>
                <td><b>{{item["id"]}}</b></td>
                <td>{{item["name"]}}</td>
                <td>{{item["method"]}}</td>
                <td>{{item["public"]}}</td>
                <form method="post" action="/unlock/{{item['id']}}">
                    <td><input type="text" class="form-control" name="private"
                               placeholder="" required size="64" width="64"></td>
                </form>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}