!!!
%html
  %head
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/static/css/style.css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900", :rel => "stylesheet", :type => "text/css"}
  %body
    %div.center_block
      %h1
        Эти пользователи, которые уже извинились, а ты?
      %table{:border => "1"} 
        -locals[:list_users].each do |object|
          %tr
            %td= object
      %div
        %a{:href => "/"}
          На главную