<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>Cryptostorm</title>

    <link href="/static/css/bootstrap.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0">
    <a href="/"><div class="navbar-brand">CЯYPTOSTORM</div></a>
</nav>

{% block content %}{% endblock %}

</main>

</body>
</html>