!!!
%html
  %body
    .content Принести извинения
    %form{:action => "/apology", :method => "post"}
      %div{:display => "inline"}
        %input{:type => "text", :name => "nickname_receiver", :placeholder => "Кому"}
        %input{:type => "text", :name => "private", :placeholder => "Приватно?(true|false)"}
        %input{:type => "submit", :value => "Отправить", :name => "submit"}
      %textarea{:type => "text", :name => "apology_text", :placeholder => "Текст"}
