!!!
%html
  %body
    %form{:action => "/register", :method => "post"}
      %div
        %input{:type => "text", :name => "username", :placeholder => "Имя"}
        %input{:type => "password", :name => "password", :placeholder => "Пароль"}
        %input{:type => "submit", :name => "submit", :value => "Отправить"}
    %div
      %a{:href => "/"}
        На главную
